################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScribeX/.vs/ScribeX
/ScribeX/ScribeX.BookStore/obj
/ScribeX/.vs/ProjectEvaluation
/ScribeX/ScribeX.BookStore/bin/Debug/net8.0
/ScribeX/ScribeX.BookStore/ScribeX.BookStore.csproj.user
