@{
    Layout = "_Layout";
}

<h2 class="h2">This is about page</h2>

<p>You can get more about-us on this page, coming soon !</p>
@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
}