@model List<ScribeX.BookStore.Models.Book>;
@{
    Layout = "_Layout";
}

<section class="main">
    <div class="row home-border mt-3 bg-white p-5">
        <div class="col-md-6 text-center">
            <div class="home">
                <h1>Welcome to ScribeBX</h1>
                <p>A Place to get & share knowledge</p>
                <button class="btn btn-outline-primary">Get More</button>
            </div>
        </div>
        <div class="col-md-6 home-image-border">
            <img class="img-thumbnail border-0" src="~/images/thumbnail.png" />
        </div>
    </div>
</section>
<section class="main py-4">
    <div class="row">
        <p class="h6 p-0">Top Books</p>
        @foreach (var book in Model)
        {
            <div class="col-md-3 mb-3">
                <div class="card book-card">
                    <img src="~/images/pahad.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>₹ @book.Price</span>
                            <a href="#" class="btn btn-sm btn-warning text-light">View</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section IndexScript1 {
    <script>
        $(document).ready(function () {
            // alert("hello ScribeBX");
        });
    </script>
}