@{
    Layout = "_Layout";
}

<h2 class="h2">Home page of Application</h2>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita officia id quae necessitatibus quisquam, quidem, ab temporibus atque cum dolore dignissimos alias at magni officiis consequatur eos laboriosam distinctio, minima nesciunt quaerat beatae vitae mollitia obcaecati? Cum nihil commodi quos voluptas. Impedit odio dolore suscipit voluptates explicabo aspernatur dignissimos temporibus minima nihil assumenda ipsum cumque facilis enim, dolorem tenetur neque itaque. Dicta, perferendis ipsum maxime fuga magni itaque atque repellendus porro officiis facere, impedit dolorum consectetur eligendi fugiat. Dolore minus voluptatibus, quos molestias numquam voluptates placeat pariatur ex aut quod eaque neque voluptatem temporibus accusantium maiores ipsa quaerat nihil iure eos labore nam fuga. Distinctio tempore modi voluptatibus eum sit enim consequatur ratione consequuntur eius quibusdam totam, sequi optio quae! Aspernatur earum, repellendus dolorem iusto magnam cupiditate nemo illo exercitationem quisquam nostrum assumenda, impedit ut perspiciatis labore. Obcaecati tempora quo suscipit blanditiis expedita. Dolorem similique pariatur libero sapiente hic.
</p>