<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Index</title>
    <style>
        .container{
            background-color: #e2e2e2;
            padding: 10px;
            margin: 0px 20px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px black;
        }
    </style>
</head>
<body>
    <h1>Hello Users, Welcome to ScribeX - a DevHub</h1>
    <div class="container">
        <marquee>A location point where you can share and accept knowledge</marquee>
    </div>
</body>
</html>